body {
  margin: 2% 0 0 2%;
}

#navbar {
  background-color: #F1AF0D;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 5vh;
  box-shadow: 1px 1px 5px rgba(111, 112, 112, 0.3);
}

#body-box {
  display: flex;
  flex-direction: row;
}

#logo {
  text-align: center;
  font-size: 2.3em;
}

#logo:hover {
  color: #F1AF0D;
  cursor: pointer;
  transition: .2s;
}

#sidebar {
  display: flex;
  margin-top: 5vh;
  width: 17%;
  flex-direction: column;
  position: fixed;
}

#sidebar div {
  cursor: pointer;
  padding-bottom: 3vh;
}

small {
  padding-left: 10px;
  padding-bottom: 2vh;
}

button {
  border: none;
  padding-left: 10px;
  width: 100%;
  height: 7vh;
  text-align: left;
  background: transparent;
}

button:hover {
  background-color: rgba(164, 166, 168, 0.2);
  border-radius: 10px;
}

button:focus {
  outline: none;
}

.clicked, .clicked:hover {
  background-color: #FEEFC3;
  border-radius: 10px;
}

#main {
  width: 80vw;
  margin-top: 5vh;
  margin-left: 22%;
}

.shadow {
  padding: 10px;
  border-radius: 10px !important;
  border: 2px solid rgb(211, 212, 214);
  box-shadow: 1px 2px 7px rgba(131, 132, 133, 0.3) !important;
  margin: 0 25%;
  width: 50%;
}

input::placeholder, #note-box::placeholder {
  font-weight: 550;
  color: rgb(149, 151, 151);
}

#note-box::placeholder {
  font-size: 100%;
}

input {
  font-weight: 500;
  margin-bottom: 10px;
}

#note-box {
  font-size: 80%;
  box-sizing: border-box;
  resize: none;
}

input, textarea {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}

#add {
  width: 3vw !important;
  margin-left: 90%;
  padding: 0;
  height: 100%;
  color: rgb(149, 151, 151);
}

#add:hover {
  color: black;
  background-color: white;
}

.card-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  border-radius: 10px !important;
  transition: box-shadow .2s;
  width: 17vw !important;
  height: 100%;
  margin-right: 1%;
}

.card-modal {
  width: 40vw;
  height: 30vh;
  margin-top: 10%;
  box-shadow: 0px 0px 5px rgba(111, 112, 112, 0.7);
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.2s;
  animation-name: zoom;
  animation-duration: 0.2s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.card:hover #bin, .card:hover #pin, .card:hover #color, .card:hover #box {
  cursor: pointer;
  display: block;
}

.card:hover {
  box-shadow: 0px 0px 5px rgba(111, 112, 112, 0.7);
  cursor: pointer;
}

.card-title {
  font-weight: 500;
  font-size: 1.1em;
}

.card-text {
  font-family: 'Roboto', sans-serif;
  font-size: 85%;
}

.card-body {
  padding: 15px !important;
}

.function {
  padding: 0;
  height: 24px;
  width: 24px;
}

.function:hover {
  background-color: white;
}

.function {
  margin-left: 0;
}

#modal-view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: rgba(230, 230, 230, 0.856);
  z-index: 2;

  display: none;
  justify-content: center;
}

.hidden {
  display: none;
}

.outer {
  display: flex;
  justify-content: space-between;
}

.inline {
  display: inline-block;
}

#bin, #pin, #color, #box {
  opacity: .3;
  width: 1em;
  height: 1em;
  transition: opacity .2s;
}

#bin:hover, #pin:hover, #color:hover, #box:hover {
  opacity: .7;
}

.no-scroll {
  overflow: hidden;
}

#current-note {
  height: 14vh;
  resize: none;
}

#close {
  color: rgb(149, 151, 151);
  width: 20px;
  font-weight: 550;
  margin-left: 85%;
}

#current-title, #current-note {
  padding-top: 2%;
  padding-left: 2%;
}

#close:hover {
  color: rgb(29, 29, 29);
  background-color: white;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
